# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Files
.env
backend/.env
frontend/.env

# IDE settings
.idea/
.vscode/

# Backend
backend/__pycache__/

# Node / React
frontend/node_modules/
node_modules/
dist/
build/

# Docker
*.tar

# Logs
*.log

# OS
.DS_Store
Thumbs.db